.slider-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 70%;
}
.card{
    width: 100% !important;
    border: none !important;
}
.card img{
    object-fit: cover;
    max-height: 25rem;
    border-radius: 10px;
}
.card-body {
    border: none;
}

.uil-arrow-left{
    position: absolute;
    left: -50px;
    top: 170px;
    border: 1px solid gainsboro ;
    font-size: 25px;
    padding: 5px 10px;
    
}
.uil-arrow-right{
    position: absolute;
    right:-50px;
    top: 170px;
    border: 1px solid gainsboro ;
    font-size: 25px;
    padding: 5px 10px;
}